.container{
    width: 100%;
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2d2d;
    gap: 5px;

    .box-graph {
        width: 97%;
        height: 600px;
        background: rgb(241, 243, 245);
        padding: 30px;
        margin: 20px 10px 20px 10px;
        border-radius: 5px;
        position: relative;

        .live-icon {
            position: absolute;
            width: auto;
            height: auto;
            right: 20px;
            top: 10px;
            font-size: 30px;
            color: rgb(204, 77, 77);
            cursor: pointer;
        }
        .active-live {
            animation: backgroundAnimation 2s linear infinite;
        }
        .live-icon:hover {
              scale: 1.5;
          }
          @keyframes backgroundAnimation {
            0% {
              background-color: transparent;
            }
            50% {
              background-color: rgba(255, 3, 3, 0.250);
            }
            100% {
                background-color: transparent;
            }
          }

        .graph {
            position: absolute;
            top: 25px;
            left: 12px;
        }
    }

    .side_container {
        width: 95%;
        height: 100%;
        margin: 10px 10px 20px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .a_side {
            width: 50%;
            height: 320px;
            background-color: #F9FAFB;
            margin: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 20px;
            border-radius: 10px;
            position: relative;

            .name_a {
                position: absolute;
                top: -30px;
                width: 80px;
                height: 27px;
                background-color: #F9FAFB;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
            .btn {
            width: 25%;
            height: 120px;
            background-color: rgba(29, 22, 22, 0.089);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            }
            .btn:hover {
                -webkit-box-shadow: 6px 6px 4px 0px rgba(141, 137, 137, 0.75);
                    -moz-box-shadow: 6px 6px 4px 0px rgba(134, 129, 129, 0.75);
                    box-shadow: 6px 6px 4px 0px rgba(145, 142, 142, 0.75);
            }
        }
        .b_side {
            width: 50%;
            height: 320px;
            background-color: #F9FAFB;
            margin: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 20px;
            border-radius: 10px;
            position: relative;

            .name_b {
                position: absolute;
                top: -30px;
                width: 80px;
                height: 27px;
                background-color: #F9FAFB;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
            .btn {
                width: 25%;
                height: 120px;
                background-color: rgba(29, 22, 22, 0.089);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                }
                .btn:hover {
                    -webkit-box-shadow: 6px 6px 4px 0px rgba(141, 137, 137, 0.75);
                        -moz-box-shadow: 6px 6px 4px 0px rgba(134, 129, 129, 0.75);
                        box-shadow: 6px 6px 4px 0px rgba(145, 142, 142, 0.75);
                }
        }
    }

    .box{
        width: 100%;
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .box-chart{
            width: 18%;
            height: 120px;
            background-color: rgba(29, 22, 22, 0.089);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 850px) {
                width: 45%;
                height: 120px;
            }
        }
        .box-chart:hover {
            -webkit-box-shadow: 6px 6px 4px 0px rgba(141, 137, 137, 0.75);
                -moz-box-shadow: 6px 6px 4px 0px rgba(134, 129, 129, 0.75);
                box-shadow: 6px 6px 4px 0px rgba(145, 142, 142, 0.75);
        }
        .hide {
            opacity: 0.5;
        }
    }
}

.overlay-graph{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 1000;

    .load {
      position: fixed;
      width: 70%;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
    
      .loader {
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        perspective: 800px;
      }
    
      .inner {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    
      .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 3px solid #efeffa;
      }
    
      .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 3px solid #efeffa;
      }
    
      .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 3px solid #efeffa;
      }
    
      @keyframes rotate-one {
        0% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        }
        100% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        }
      }
    
      @keyframes rotate-two {
        0% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        }
        100% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        }
      }
    
      @keyframes rotate-three {
        0% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        }
        100% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        }
      }
    }
}